
<%= form_for [@course,@evaluation] do |f| %>
  <h3 class="mintitle"><%= t 'views.exams.title' %></h3>
  <table  class=class="table table-striped">
    <tr>
      <th>  <%= t 'views.students.title' %> </th>
    </tr>
    <%= f.fields_for :exams do |exams_form| %>
    <tr>
      <td >      
        <%= exams_form.object.student.to_s %>
      </td>
      <td>
        <%= exams_form.text_field :note, placeholder: "Ausente"  %>
      </td>
    </tr>
    <% end %>

  </table>

 <%= f.submit class:'btn btn-danger', 
  value: t('global.form.actions.submit') %>   

  
<% end %>