<%= simple_form_for [@course, @evaluation] do |form| %>
  <% if evaluation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(evaluation.errors.count, "error") %> prohibited this evaluation from being saved:</h2>

      <ul>
      <% evaluation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
    <%= form.input :title, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :minNote, label: 'Minimum note', wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :date, wrapper_html: { class: 'col-6' } %>
    
  </div>



  <div class="actions">
    <%= form.submit class:'btn btn-success' %>

  </div>
<% end %>
