<%= simple_form_for [@course, @evaluation] do |form| %>

   <div class="row">
    <%= form.input :title, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :min_note, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :date, wrapper_html: { class: 'col-6' } %>    
  </div>


  <div>
    <%= form.submit class:'btn btn-danger', value: t('global.form.actions.submit') %>
  </div>
<% end %>
