
<h1 style="text-align: center">Evaluaciones</h1>
<br>
<br>
<% if @evaluations.empty? %>
    <h3 style="text-align: center"> No hay evaluaciones asignadas </h3>
<% else %>
<table class="table table-striped" style="width: 50%; margin: auto">
  <thead>
    <tr>
      <th> Titulo </th>
      <th> Fecha </th>
      <th> Nota mínima de aprobación </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <th> <%= evaluation.title %></th>
        <th> <%= evaluation.date %></th>
        <th> <%= evaluation.minnote %></th>
        <th><%= link_to 'Editar', edit_course_evaluation_path(@course, evaluation) %>
          <br> 
          <%= link_to 'Eliminar', course_evaluation_path(@course, evaluation), method: :delete, data: { confirm: 'Está seguro de eliminar el curso?' } %>
        </th>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<br>
<br>

<%= link_to 'New Evaluation', new_course_evaluation_path(@course) %> |
<%= link_to 'Back', course_path(@course.id) %>
