<div class="listall">
  <h1 class="mintitle"> <%= t 'views.evaluations.title' %></h1>

  <% if @evaluations.empty? %>
      <p class="msj"> No hay evaluaciones asignadas </p>

  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th> <%= t('activerecord.attributes.evaluation.title')%> </th>
          <th> <%= t('activerecord.attributes.evaluation.date')%> </th>
          <th> <%= t('activerecord.attributes.evaluation.min_note')%> </th>
          <th> </th>
        </tr>
      </thead>

      <tbody>
        <% @evaluations.each do |evaluation| %>
          <tr>
            <th> <%= evaluation %></th>
            <td> <%= evaluation.date %></td>
            <td> <%= evaluation.min_note %></td>
            
            <th>
              <div class="btn-group" role="group">
                <%= link_to t('global.actions.edit'), edit_course_evaluation_path(@course, evaluation), class:'btn btn-secondary' %>
                <%= link_to t('global.actions.notes'), results_path(@course, evaluation), class:'btn btn-secondary' %>
                <%= link_to t('global.actions.destroy'), course_evaluation_path(@course, evaluation), method: :delete, data: {confirm: t('global.actions.confirm_destroy')}, class:'btn btn-secondary' %>
              </div>
            </th>

          </tr>
          
        <% end %>
      </tbody>
    </table>

  <% end %>
</div>

<div>
  
  
</div>

<div class="bottombtn">
  <%= link_to 'Agregar Evaluación', new_course_evaluation_path(@course), class:"btn btn-danger" %> |
  <%= link_to t('global.actions.back'), courses_path, class:'btn btn-secondary'%>
</div>

