<%= simple_form_for [@course, @student] do |form| %>

   <div class="row">
    <%= form.input :first_name, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :last_name, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :document, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :docket, wrapper_html: { class: 'col-6' } %>
  </div>

  <div class="row">
    <%= form.input :email, wrapper_html: { class: 'col-6' } %>
    <%= form.association :course, value_method: :id, as: :hidden%>
  </div>


  <div>
    <%= form.submit class:'btn btn-danger',
    value: t('global.form.actions.submit') %>
  </div>
  
<% end %>
