<h1 style="text-align: center">Alumnos de <%= @course.name %></h1>
<br>
<br>
<% if @students.empty? %>
    <h3 style="text-align: center"> No hay alumnos inscriptos </h3>
<% else %>
<table class="table table-striped" style="width: 50%; margin: auto">
  <thead>
    <tr>
      <th> Nombre </th>
      <th> Apellido </th>
      <th> DNI </th>
      <th> Legajo </th>
      <th> Mail </th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <th> <%= student.firstName %></th>
        <th> <%= student.lastName %></th>
        <th> <%= student.dni %></th>
        <th> <%= student.legajo %></th>
        <th> <%= student.mail %></th>
        <th><%= link_to 'Editar', edit_course_student_path(@course, student) %> |
          <%= link_to 'Eliminar', course_student_path(@course, student), method: :delete, data: { confirm: 'Está seguro?' } %> | 
          <%= link_to 'Ver exámenes', course_student_exams_path(@course, student, @exams)%>
        </th>

      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>
<br>
<br>

<%= link_to 'New Student', new_course_student_path(@course) %> |
<%= link_to 'Back', course_path(@course.id) %>
