<div class="listall">
  <h1 class="mintitle"><%= t 'views.students.title' %></h1>
  <h3 class="subtitle"> <%= @course %> </h3>

  <% if @students.empty? %>
      <p class="msj"> No hay alumnos inscriptos </p>
  <% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> <%= t('activerecord.attributes.student.first_name')%> </th>
        <th> <%= t('activerecord.attributes.student.last_name')%> </th>
        <th> <%= t('activerecord.attributes.student.document')%> </th>
        <th> <%= t('activerecord.attributes.student.docket')%> </th>
        <th> <%= t('activerecord.attributes.student.email')%> </th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td> <%= student.first_name %></td>
          <td> <%= student.last_name %></td>
          <td> <%= student.document %></td>
          <td> <%= student.docket %></td>
          <td> <%= student.email %></td>
          <th>
            <div class="btn-group" role="group">
              <%= link_to t('global.actions.edit'), edit_course_student_path(@course, student), class:'btn btn-secondary' %>
              <%= link_to t('global.actions.destroy'), course_student_path(@course, student), method: :delete, data: {confirm: t('global.actions.confirm_destroy')}, class:'btn btn-secondary' %>
            </div>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>

  <div class="bottombtn">
    <%= link_to 'Agregar alumno', new_course_student_path(@course), class:'btn btn-danger' %>
  </div>

</div>

<div class="bottombtn">
  <%= link_to t('global.actions.back'), courses_path(@course.id), class:'btn btn-secondary' %>  
</div>

