

  <h3 class="mintitle"> Resumen de notas </h3>
  <table class=class="table table-striped">
    <tr>

      <th>  <%= t 'views.students.title' %> </th>
      <% @course.evaluations.each do |e|  %>
        <th> <%= e %> </th>
      <% end %>
    </tr>
  
    <% @course.students.each do |s| %>
      <tr>

        <td>      
          <%= s.to_s %>
        </td>
        
        <% s.exams.each do |e| %>
          <td>
            <%= e %>
            <br>
            <%= e.approved %>
          </td>

        <%end%>
      </tr>
    <%end%>

    <th>
      <td> </td>
    </th>      

      <tr>
        <th> Cantidad de Aprobados </th>
          <% @course.evaluations.each do |e| %>
            <td>
              <%= e.amount_approved %>
            </td>
          <% end %>
      </tr>
      <tr>
        <th> Cantidad de Desprobados </th>
          <% @course.evaluations.each do |e| %>
            <td>
              <%= e.amount_disapproved %>
            </td>
          <% end %>
      </tr>
      <tr>
        <th> Cantidad de Ausentes </th>
          <% @course.evaluations.each do |e| %>
            <td>
              <%= e.amount_absent %>
            </td>
          <% end %>
      </tr>
      <tr>
        <th > Porcentaje de aprobación </th>
          <% @course.evaluations.each do |e| %>
            <td>
              <%= e.percent_approved %>
            </td>
          <% end %>
      </tr>

      </div>

  </table>
