<p id="notice"><%= notice %></p>

<h1>Courses</h1>
<br>
<br>
<% if !@courses %>
    <p> No hay cursos disponibles </p>
<% else %>
  <table class="table table-striped" style="width: 50%; margin: auto">
    <thead>
      <tr>
        <th> Name </th>
        <th > Year </th>
        <th> </th>
        <th> </th>
        <th> </th>
      </tr>
    </thead>

    <tbody>
      <% @courses.each do |course| %>  
        <tr>
          <th> <%= course.name %> </th>
          <th> <%= course.year %> </th>
          <th><%= link_to 'Show', course %> </th>

        </tr>
      <% end %>
  
    </tbody>
  </table>
<% end %>
<br>

<%= link_to 'New Course', new_course_path %>
