<div class="listall">
  <h1 class="mintitle"><%= t 'views.courses.title' %></h1>

<% if @courses.empty? %>
    <p class="msj"> No hay cursos disponibles </p>
    
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>

    </thead>

    <tbody>
      <% @courses.each do |course| %>  
        <tr>
          <th> <%= course %> </th>
          <th>
            <div class="dropdown">
              <div class="btn-group" role="group">
                <%= link_to t('global.actions.edit'), edit_course_path(course), class: "btn btn-secondary"%>
                <%= link_to t('global.actions.destroy'), course, class: "btn btn-secondary", method: :delete, data: { confirm: t('global.actions.confirm_destroy') }%>
              </div>
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Selecciona.. </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%= link_to t('views.evaluations.title'), course_evaluations_path(course), class:"dropdown-item" %>
                <%= link_to t('views.students.title'), course_students_path(course), class:"dropdown-item" %>
                <%= link_to t('views.exams.title'), summary_path(course), class:"dropdown-item" %>
              </div>
            </div>
          </th>
        </tr>
      <% end %>
  
    </tbody>
  </table>
<% end %>

<div class="bottombtn">
  <%= link_to 'Agregar curso', new_course_path, class: "btn btn-danger" %>
</div>

</div>