<table>
  <tr>
    <th><%= @course %></th>
  </tr>
 </table>


<h3><%= link_to 'Editar', edit_course_path(@course) %> |
   <%= link_to 'Eliminar', course_path, method: :delete, data: { confirm: 'Está seguro de eliminar el curso?' } %></h3>

<br>
<br>
<p> <%= link_to 'Ver evaluaciones', course_evaluations_path(@course) %> |
	<%= link_to 'Ver alumnos', course_students_path(@course) %>
 </p>

<br>

<%= link_to 'Atrás', courses_path %>
